$border-color: #e6ecf0;
$button-color: #e9bfff;
$main-color: #800080;
$post-color: #f3f3f3;
$follow-color: #f7ecff;

.icon-color {
  fill: $main-color;
}

.container {
  display: flex;
  font-size: 15px;
  font-family: "Comic Sans MS", serif;
  align-items: flex-start;
}

#stream {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  width: 2em;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  margin: 0 1em 1em;
  position: relative;

  #stream-title {
    position: sticky;
    top: 0;
    width: 100%;
    color: $main-color;
    z-index: 1;
    background: white;
    border-bottom: 1px solid $border-color;
    margin: 0;
    padding-bottom: 1em;
    padding-top: 0.5em;
  }

  .post {
    display: flex;
    flex-direction: column;
    width: border-box;
    border: 1px solid $border-color;

    &:hover {
      background: $post-color;
    }

    .post-attachment {
      max-width: 50%;
      max-height: 10%;
      width: 80%;
      align-self: flex-end;
      border-radius: 2em;
      margin-right: 5em;
      margin-bottom: 1em;
    }
  }
}

#menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1em;
  margin: 0 1em 1em;

  .menu-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 3em;
    width: 70%;
    align-items: center;
    margin: 1%;
    border-radius: 3em;
    background: none;
    border: none;

    &:hover {
      background: $button-color;
    }

    .button-label {
      font-family: "Comic Sans MS", serif;
      font-size: 90%;
    }

    .button-icon {
      margin: 0 2% 0 10%;
    }
  }

  .menu-icon {
    width: 2.5em;
    height: 2.5em;
    margin: 0 0 0 1em;
    align-self: flex-start;
  }

  .tweet-button {
    background: $button-color;
    justify-content: center;
  }
}

#follow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1em;
  margin: 0 1em 1em;

  #search {
    background: $follow-color;
    border-radius: 2em;
    border: none;
    display: flex;
    align-items: center;
    height: 2.5em;

    #search-icon {
      margin-left: 1em;
    }

    #search-input {
      background: none;
      border: none;
      height: 2.5em;
      width: 80%;
    }

  }

  #follow-suggestions {
    background: $follow-color;
    border-radius: 2em;
    border: none;
    margin-top: 1em;


    #follow-suggestions-title {
      padding: 1em;
      border-bottom: 2px solid $border-color;
      margin-top: 0;
      margin-bottom: 0;
    }

    .follow-suggestion {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      left: 0;

      .follow-suggestion-header {
        padding: 1em 0 0 0;
        display: flex;
      }

      .follow-button {
        height: 80%;
        border-radius: 2em;
        margin-right: 1em;
        width: 35%;
        background: none;
        border: 3px solid $border-color;
      }
    }
  }
}

/*****************************************************************************/

.post-action {
  &:hover {
    background: $button-color;
    justify-content: center;
  }

  border: none;
  background: none;
  width: 3em;
  height: 3em;
  align-items: flex-start;
  border-radius: 2em;
}

.profile-img {
  width: 3em;
  height: 3em;
  border-radius: 3em;
  margin: 0 1em 0 1em;
}

.post-header {
  padding: 1em 0 0 0;
  display: flex;
}

.post-title {
  font-weight: bold;
}

.post-text {
  margin-right: 2em;
  margin-left: 5em;
  width: border-box;
}

#write-post {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  .tweet-button {
    width: 20%;
  }

  #write-post-text {
    width: 98%;
  }
}

.post-actions {
  display: flex;
  justify-content: space-between;
  margin-left: 5em;
  margin-right: 4em;

  .add-to-post {
    margin-top: 1em;
  }
}

.action-on-post {
  display: flex;
  margin-bottom: 1em;
  margin-left: 5em;
}
